<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GRA</title>
</head>
<body>

<h1 align="center">Witaj na stronie gry!</h1>

<p align="center" th:if="${successReg}" th:text="${successReg}" th:class="${'alert ' + alertClass}">Registration
    successful, please log in!</p>
<p align="center" th:if="${errorLoginInfo}" th:text="${errorLoginInfo}" th:class="${'alert ' + alertClass}">Wrong
    username or password!</p>
<form class="form-signin" th:object="${user}" action="/login"  method="POST">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="username" class="sr-only">username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username"
           required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <div align="center">
        <button class="btn btn-outline-dark" type="submit" value="Login">Sign in</button>
        <a class="btn btn-outline-dark" href="#" th:href="@{'/'}" role="button">Back</a>
    </div>
</form>

<!--<script type="text/javascript">-->
<!--var form = $('form.form-signin');-->
<!--form.hide();-->
<!--$('a.login').on('click', function(e) {-->
<!--e.preventDefault();-->
<!--$(this).siblings('form').show();-->
<!--});-->
<!--</script>-->
</body>
</html>