<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GRA</title>
</head>
<body>

<h1 align="center">Witaj!</h1>


<form class="form-signin" th:object="${gameCharacter}" th:action="@{/createCharacter}"  method="POST">
    <!--<input type="hidden" th:field="${gameCharacter.id}"/>-->

    <!--<label>Choose race:</label>-->
    <!--<select class="form-control" th:field="${gameCharacter.race}">-->
    <!--<option-->
    <!--th:each="charRace : ${T(mg.browsergame.domain.gameCharacter.Race.values()}"-->
    <!--th:value="${charRace.name()}"-->
    <!--th:text="${charRace.name()}">-->
    <!--</option>-->
    <!--</select>-->

    <div align="center">
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-outline-dark">Create!</button>
        </div>
    </div>
</form>
</body>
</html>